// Custom styles.

.site-title {
  font-size: 17px;
  transform: translateY(3px);
}

.site-title > span {
  color: gray;
}

.site-author-image {
  border: none;
  border-radius: 50%;
  padding: 5px 0 10px 0;
}

.site-author-name {
  font-size: 16px;
  margin-top: 5px;
}

.site-description {
  line-height: 20px;
  font-size: 12px;
  margin-bottom: 10px;
}

.site-author-location {
  text-align: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.site-author-location::before {
  content: "\f041";
  font-family: FontAwesome;
  font-size: 14px;
  margin-right: 5px;
}

.links-of-author {
  text-align: center;
}

.links-of-author-item {
  width: auto;
  float: none;
  display: inline-block;
}

.links-of-author-item .fa {
  font-size: 24px;
  margin-top: 5px;
}
